#define WIFI_SSID "YOUR_WIFI_SSID"
#define WIFI_PASSWORD "YOUR_WIFI_PASSWORD"
#define MAX_ATTEMPTS 10

#define MQTT_SERVER "YOUR_MQTT_BROKER_IP"
#define MQTT_PORT 1883

#define MQTT_USER "YOUR_MQTT_USER"
#define MQTT_PASSWORD "YOUR_MQTT_PASSWORD"
#define MQTT_TOPIC "YOUR_MQTT_TOPIC"